body{
    background-color: lightblue;
}
*{
    box-sizing: border-box;
}
.container {
    background-color:aliceblue;
    max-width: 1000px;
    margin: auto;
}

/* css navigation*/
.nav-item{
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    margin-right: 25px;
}

.nav-item .nav h1{
    margin-left: 20px ;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-item .nav ul {
    font:16px/28px arial, sans-sherif;
    box-sizing: border-box;
}

.nav-item .nav ul li{
    display:inline-block;
    border: 1px solid gray;
    padding-right:20px ;
    padding-left: 20px ;
}

li:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


li:nth-child(3){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-item .nav ul li a{
    text-decoration: none;
    color: rgb(147, 147, 147);
}

.nav-item .nav ul li a:hover{
    background:rgb(84, 185, 228) ;
}

/*css home */
.header {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
}

.header h1{
    font-size: 25px;
    margin-top: -20px;
}
.header p{
    color: rgb(79, 78, 78);
    margin-top: -10px ;
    margin-bottom: 30px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .left-content{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 25px;
    width: 450px;
}

.content .left-content .img img{
    width: 450px;
    height: 400px;
    background-size: cover;
    /* background-image: url(./Assets/sayur1.jpg); */
    background-position: -70px 0px;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.content .left-content  .info-gambar .slide-ke {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.content .left-content  .info-gambar .active {
    background-color: #717171;
}

.content .left-content  .info-gambar .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.content .left-content  .info-gambar p {
    text-align: center;
    font-style: italic;
    color: rgb(119, 119, 119);
}

.content .left-content .info-penjual {
    box-sizing: border-box;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:40px;
    margin-top: 40px;
}

.content .left-content .info-penjual .penjual {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(./Assets/orang.png);
    background-position: -10px 7px;
    background-repeat: no-repeat;
}

.content .left-content .info-penjual .tulisan{
    display: inline-block;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    font-size: 10px;
    margin-left: 15px;
    padding: 0;

}

.content .left-content .info-penjual .tulisan :nth-child(1) {
    font-size: 15px;
    font-weight: bold;
}
.content .left-content .info-penjual .tulisan :nth-child(2) {
    font-style: italic;
    margin-top: -10px;
    font-size: 10px;
    color: rgb(147, 147, 147);
}

.content .left-content .instruksi .info-instruksi {
    margin-top: 40px;
}

.content .left-content .instruksi .info{
    margin-top: 40px;
    margin-left: 25px;
    font-weight:bold;
}
.content .left-content .instruksi .info-instruksi .satu{
    display:flex;
    margin: 25px;
}
.content .left-content .instruksi .info-instruksi .satu .content{
    margin-left: 35px;
    color: rgb(147, 147, 147);
}
.content .left-content .instruksi .info-instruksi .satu .foto{
    display: flex;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 241, 250);
}
.content .left-content .instruksi .info-instruksi .dua{
    display:flex;
    margin: 25px;
}
.content .left-content .instruksi .info-instruksi .dua .content{
    margin-left: 35px;
    color: rgb(147, 147, 147);
}
.content .left-content .instruksi .info-instruksi .dua .foto{
    background-color: rgb(215, 241, 250);
    display: flex;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.content .left-content .instruksi .info-instruksi .tiga{
    display:flex;
    margin: 25px;
}
.content .left-content .instruksi .info-instruksi .tiga .content{
    margin-left: 35px;
    color: rgb(147, 147, 147);
}
.content .left-content .instruksi .info-instruksi .tiga .foto{
    display: flex;
    background-color: rgb(215, 241, 250);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content .right-content{
    width: 450px;
    height: 700px;
    background-color: rgb(215, 241, 250);
    border-radius: 10px;
    margin-top: 25px;
    padding-left:40px;
    margin-right:25px
}

.content .right-content .contact p{
    margin-bottom: 50px;
    color: rgb(79, 78, 78)
}
.content.right-content.name{
    margin-top: 100px;
}
.content .right-content .name form{
    margin-top: 0px;
}
.content .right-content .name  .input_wrap{
    margin-bottom: 20px;
    width: 325px;
    position: relative;
}
.content .right-content .name  .input_wrap:last-child(){
    margin-bottom: 0;
}
.content .right-content .name  .input_wrap label{
    display: block;
    margin-bottom: -10px;
    
}
.content .right-content .name  .input_wrap input{
    padding: 10px 150px 10px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.content .right-content .name  .input_wrap:nth-child(4) input{
    padding-bottom: 50px;
}

.content .right-content .name  .input_wrap .input{
    background: #ffffff;
    /* border: 1px solid black; */
}
.content .right-content .name  .input_wrap .input:focus{
    border: #1dbf73;
}
.content .right-content .name  .input_wrap .input_field{
    position: relative;
}

.content .right-content .name  .input_btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .right-content .name  .input_btn .succed_msg{
    font-size: 15px;
    margin-bottom: 5px;
    color: #1dbf73;
    display: none;
}
.content .right-content .name  .input_btn .error_msg{
    font-size: 15px;
    margin-bottom: 5px;
    color: #f74040;
    display: none;
}

.content .right-content .name  .input_btn .btn{
    background: #cfcece;
    border-color: black;
    padding: 10px 75px 10px;
}
.content .right-content .name  .input_btn .btn:focus{
    background: #1dbf73;
}





/*css our packages*/
.our-packages{
    width: 100%;
    height: 200px;
    background-color: rgb(215, 241, 250);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:25px;
} 

#packages .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#packages .container .content{
    width: 30%;
    margin: 25px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}

#packages .container .content .main p {
    color: rgb(147, 147, 147);
}



#packages .container .content .main {
    font-size: 15px;
    width: 75%;
    margin: 0px 0px 0px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}

#packages .container .content .atas {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(./Assets/salju.png);
    background-position: -15px 0px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#packages .container .content .foto {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(./Assets/bintang.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
}

#call .container .main{
    text-align: center;
}

#call .container .main p{
    color: rgb(147, 147, 147);
}

/*#CSS footer*/
#call .container .main a {
    display: flex;
    text-decoration:none;
    background-color: black;
    color:white;
    width: 200px;
    height: 50px;
    border-radius:5px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

#call .container .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#call .container .footer .p {
    display: flex;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    /* background-color: aqua; */
}

#call .container .footer .container {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
#call .container .footer .atas {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-evenly;
    width: 250px;
} 

#call .container .footer .bawah {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
    width: 150px;
    margin: -5px auto auto;
}



/*css responsive media*/
@media (max-width: 800px) {
    .nav-item .nav ul {
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .content .left-content{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
     .container{
        overflow: hidden;
     }
    .nav-item .nav h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .nav-item .nav ul {
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .content .left-content{
        flex-direction: column;
    }
    .content .left-content .img{
        width:400px ;
        background-position: -150px 0;
        background-image: url(./Assets/download.jfif);
        background-size: cover;
        margin: auto;
    }
    .content .left-content .info-penjual{

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 25%;
    }
    #packages .container .content{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        /* padding: auto; */
        align-items: center;
    }
}