body{
    background-color: lightblue;
}
*{
    box-sizing: border-box;
}
.container {
    background-color:aliceblue;
    max-width: 1000px;
    margin: auto;
}

.nav-item{
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

.nav-item .nav h1{
    margin-left: 20px ;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-item .nav ul {
    font:16px/28px arial, sans-sherif;
    box-sizing: border-box;
}

.nav-item .nav ul li{
    display:inline-block;
    border: 1px solid gray;
    padding-right:20px ;
    padding-left: 20px ;
}

li:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

li:nth-child(2){
    
}
li:nth-child(3){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-item .nav ul li a{
    text-decoration: none;
    color: rgb(219, 139, 163);
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .left-content{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 25px;
    width: 450px;
}
.content .right-content{
    width: 450px;
    height: 500px;
    background-color: rgb(152, 152, 152);
    border-radius: 10px;
    margin-top: 25px;
    padding-left:40px;
}

.content .left-content .img{
    width: 450px;
    height: 400px;
    background-size: cover;
    background-image: url(./Assets/sayur1.jpg);
    background-position: -70px 0px;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.content .left-content  .info-gambar p {
    text-align: center;
}

.content .left-content .info-penjual {
    box-sizing: border-box;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .left-content .info-penjual .penjual {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url();
}

.content .left-content .info-penjual .tulisan{
    display: inline-block;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    border: 1px solid black;
    font-size: 10px;
    margin-left: 15px;
    padding: 0;
}
.content.right-content .contatc{
    margin-bottom: 50px;
}
.content.right-content.name{
    margin-top: 100px;
}
.content .right-content .name form{
    margin-top: -20px;
}



@media (max-width: 800px) {
    .nav-item .nav ul {
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .content .left-content{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .nav-item .nav ul {
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .content .left-content{
        flex-direction: column;
    }
    .content .left-content .img{
        width:450px ;
        background-position: -150px 0;
        background-image: url(./Assets/download.jfif);
        background-size: cover;
    }
}